body {
    background-color:skyblue center 100%;
    opacity: 0.7;
}

.container{
    margin:10%;
}

.container-1{
    background-color: skyblue;
    position: relative;
    height: 100%;
    align-content: center;
    font-family: "Times New Roman", Times, serif;
    color:black;
}

p{
    font-size: 155%;
    margin: 2%;
}
#answer{
    margin-right: 6%;
}

#question{
    margin: 3%;
}

#Htext{
    padding: 9%;
    color:black; 
    font-size: 300%;
}

#progress {
    padding: 19%;
}